
form {
    width: 80%;
    margin: 0 auto;

    .amount {
        width: 100%;
    }

    .calendarDaysManual,.dates {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        div {
            width: 50%;
            gap: 10px
            
        }
    }
}