<!-- 
<div class="example-container">
    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> status </th>
            <td mat-cell *matCellDef="let element"> status</td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> Weight </th>
            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>

        <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> Symbol </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>
        <ng-container matColumnDef="surname">
            <th mat-header-cell *matHeaderCellDef> surname </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>
        <ng-container matColumnDef="solo">
            <th mat-header-cell *matHeaderCellDef> solo </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>
        <ng-container matColumnDef="solo1">
            <th mat-header-cell *matHeaderCellDef > solo </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>
        <ng-container matColumnDef="solo2">
            <th mat-header-cell *matHeaderCellDef > solo </th>
            <td mat-cell *matCellDef="let element "> {{element.symbol}} </td>
        </ng-container>
        <ng-container matColumnDef="solo3">
            <th mat-header-cell *matHeaderCellDef > solo </th>
            <td mat-cell *matCellDef="let element stickyEnd:true"> {{element.symbol}} </td>
        </ng-container>
        <ng-container matColumnDef="solo4" stickyEnd>
            <th mat-header-cell *matHeaderCellDef  > solo </th>
            <td mat-cell *matCellDef="let element stickyEnd"> <mat-icon>more_vert</mat-icon> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div> -->