<form [formGroup]="form" #profileForm="ngForm">
    <mat-form-field style="width: 100%;"
      class="date-picker-input"
   
      [ngClass]="{
         'open': isOpen, 
         'close': !isOpen,
         'form-invalid-control': control?.invalid&&control?.dirty&&!isOpen
        }"
    >
      <mat-label>{{ placeholder }}</mat-label>

      <input
        class="input"
        [min]="min"
        [max]="max"
        (dateChange)="dateChanged()"
        matInput
        formControlName="date"
        [matDatepicker]="picker"
        [disabled]="isDisabled"
        [value]="defaultDate"
        [readonly]="isReadonly"
      />


      <mat-datepicker-toggle matSuffix [for]="picker" 
       [disabled]="!isEditable">
        <div matDatepickerToggleIcon  class="calendar-icon {{isDisabled?'disable':''}}">
        <img width="32" height="32"  loading="lazy" ngSrc="./../../../../assets/icons/date-picker.png" alt="">
        </div>
      </mat-datepicker-toggle>

      <mat-datepicker
        [panelClass]="'custom-date-picker'"
        #picker
        (opened)="datepickerOpened()"
        (closed)="datepickerClosed()"
      ></mat-datepicker>
    </mat-form-field>

    </form>